.benefits {
    padding: 40px 0;
}
.benefits__content {
    margin-bottom: 60px;
}
.benefits__content--price {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.6px;
    color: var(--zima-blue);
    margin-bottom: 4px;
}
.benefits__content--title {
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 18px;
}
.benefits__content--desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.6px;
}
.benefits__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
}
.benefits__list--item {
    position: relative;
    padding: 57px 22px 42px;
    border-radius: 24px;
    background-color: var(--zima-blue-light);

    & + * {
        margin-top: 28px;
    }
}
.benefits__list--item-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 48px;
    position: absolute;
    top: -20px;
    border-radius: 14px;
    background-color: var(--zima-blue);
}
.benefits__item--image {
    width: 32px;
    height: 32px;
}
.benefits__item--subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.benefits__item--desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 14px;
}
.benefits__item--link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 33.6px;
    text-decoration: none;
    color: var(--zima-blue);

    & img {
        width: 10px;
        height: 16px;
    }
}

@media screen and (min-width: 768px) {
    .benefits__content {
        max-width: 814px;
    }
    .benefits__list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 40px;
    }
    .benefits__list--item {
        max-width: 397px;

        & + * {
            margin: 0;
        }
    }
}
@media screen and (min-width: 1024px) {
    .benefits {
        padding: 80px 0;
    }
    .benefits__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .benefits__content {
        text-align: center;
        margin-bottom: 120px;
    }
    .benefits__content--price {
        font-size: 24px;
        line-height: 33.6px;
        margin-bottom: 8px;
    }
    .benefits__content--title {
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 24px;
    }
    .benefits__content--desc {
        font-size: 24px;
        line-height: 33.6px;
    }
}
@media screen and (min-width: 1261px) {
    .benefits__list--item {
        padding: 67px 32px 42px;
    }
    .benefits__list--item {
        min-height: 380px;
    }
    .benefits__list--item-inner {
        width: 62px;
        height: 58px;
    }
    .benefits__item--subtitle {
        font-size: 32px;
        margin-bottom: 14px;
    }
    .benefits__item--desc {
        font-size: 20px;
        line-height: 30.6px;
        margin-bottom: 28px;
    }
    .benefits__item--link {
        font-size: 20px;
        line-height: 33.6px;
    }
}