.footer {
    padding: 40px 0 12px;
}
.footer__logo {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-bottom: 26px;
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 20px;
    row-gap: 32px;
    margin-bottom: 40px;

}
.footer__list--item {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    width: 100%;
}
.footer__item--subtitle {
    font-size: 24px;
    line-height: 22.4px;
    margin-bottom: 12px;
}
.footer__item--link {
    font-size: 16px;
    line-height: 22.4px;
    text-decoration: none;
    color: var(--title-color);
    transition: opacity .2s ease;

    & + * {
        margin-top: 10px;
    }
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.footer__form div {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.footer__form--subtitle {
    line-height: 30px;
    margin-bottom: 12px;
}
.footer__form--email,
.footer__form--btn {
    height: 40px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}
.footer__form--email {
    padding: 18px 20px;
    border: 1px solid var(--zima-blue-light);
    margin-bottom: 14px;

    &::placeholder {
        color: var(--input-color);
    }
}
.footer__form--btn {
    color: var(--white);
    background-color: var(--zima-blue);
}
.footer__contact--socials {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    row-gap: 8px;
    list-style: none;
    margin-bottom: 40px;
}
.footer__socials--subtitle {
    grid-column: 1 / 7;
    margin: 0;
}
.footer__soacials--link {
    
    & img {
        display: block;
        width: 20px;
        height: 20px;
        transition: opacity .2s ease;

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: 1;
        }
    }
}
.footer__bottom--desc {
    font-size: 14px;
    line-height: 18.4px;
}

@media screen and (min-width: 425px) {
    .footer__logo {
        margin-bottom: 38px;
    }
}
@media screen and (min-width: 768px) {
    .footer__row {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 90px minmax(250px) auto 44px;
    }
    .footer__logo {
        grid-column: 1 / 3;
        margin-bottom: 48px;
    }
    .footer__list {
        grid-column: 1 / 2;
        row-gap: 36px;

    }
    .footer__list--item {
        margin-bottom: 0;
    }
    .footer__contact {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    .footer__contact--socials {
        margin: 0;
    }
    .footer__form {
        grid-column: 1 / 3;
        margin-bottom: 30px;
    }
    .footer__form div{
        flex-direction: row;
        align-items: center;
        height: 60px;
        background-color: var(--white);
        border-radius: 14px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(44, 88, 241, .1);;
    }
    .footer__form--email,
    .footer__form--btn {
        height: 48px;
        font-size: 16px;
        border-radius: 0;
        border: none;
    }
    .footer__form--email {
        padding: 18px 16px 20px;
        font-size: 18px;
        margin: 0;
        outline: none;
    }
    .footer__form--btn {
        width: 110px;
        border-radius: 8px;
        color: var(--white);
        background-color: var(--zima-blue);
    }
    .footer__bottom {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .footer__bottom--desc {
        text-align: center;
        padding-top: 24px;
        border-top: 1px solid #E5E5E5;
    }
}
@media screen and (min-width: 1024px) {
    .footer__row {
        display: grid;
        grid-template-columns: 120px auto 400px;
        grid-template-rows: repeat(3, auto);
    }
    .footer__logo {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .footer__list {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
    .footer__form {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin: 0;

        & div {
            margin: 0;
        }
    }
    .footer__contact {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    .footer__bottom {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        padding: 80px 0 40px;
    }
    .footer__row {
        display: grid;
        grid-template-columns: auto 660px 400px;
        grid-template-rows: repeat(3, auto);
    }
    .footer__list {
        margin: 0;
    }
    .footer__form {
        margin-bottom: 32px;
    }
    .footer__bottom {
        margin-top: 64px;
    }
}