.footer {
    padding: 40px 0 12px;
}
.footer__row {
}
.footer__logo {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-bottom: 26px;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    // column-gap: 20px;
    list-style: none;
}
.footer__list--item {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    width: 100%;
    margin-bottom: 32px;
}
.footer__item--subtitle {
    font-size: 24px;
    line-height: 22.4px;
    margin-bottom: 12px;
}
.footer__item--link {
    font-size: 16px;
    line-height: 22.4px;
    text-decoration: none;
    color: var(--title-color);

    & + * {
        margin-top: 10px;
    }
}
.footer__contact {
}
.footer__content--inner div {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.footer__contact--subtitle {
    line-height: 30px;
    margin-bottom: 12px;
}
.footer__inner--email,
.footer__inner--btn {
    height: 40px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}
.footer__inner--email {
    padding: 18px 20px;
    border: 1px solid var(--zima-blue-light);
    margin-bottom: 14px;

    &::placeholder {
        color: var(--input-color);
    }
}
.footer__inner--btn {
    color: var(--white);
    background-color: var(--zima-blue);
}
.footer__inner--btn {
}
.footer__contact--socials {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    row-gap: 8px;
    list-style: none;
    margin-bottom: 40px;
}
.footer__socials--subtitle {
    grid-column: 1 / 7;
    margin: 0;
}
.footer__soacials--link {
    
    & img {
        width: 20px;
        height: 20px;
        display: block;
    }
}
.footer__bottom {
}
.footer__bottom--desc {
    font-size: 14px;
    line-height: 18.4px;
}

@media screen and (min-width: 425px) {
    .footer__logo {
        margin-bottom: 38px;
    }
}
@media screen and (min-width: 768px) {
    .footer__row {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 90px 250px 250px 44px;
    }
    .footer__logo {
        grid-column: 1 / 3;
        margin-bottom: 48px;
    }
    .footer__list {
        grid-column: 1 / 3;
        margin-bottom: 60px;
    }
    .footer__list--item {
        margin-bottom: 0;
    }
    .footer__contact {
        display: flex;
        column-gap: 80px;
        margin-bottom: 60px;
    }
    .footer__content--inner div{
        flex-direction: row;
        align-items: center;
        height: 60px;
        background-color: var(--white);
        border-radius: 14px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(44, 88, 241, .1);;
    }
    .footer__inner--email,
    .footer__inner--btn {
        height: 48px;
        font-size: 16px;
        border-radius: 0;
        border: none;
    }
    .footer__inner--email {
        padding: 18px 16px 20px;
        font-size: 18px;
        margin: 0;
        outline: none;
    }
    .footer__inner--btn {
        width: 110px;
        border-radius: 8px;
        color: var(--white);
        background-color: var(--zima-blue);
    }
    .footer__bottom {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .footer__bottom--desc {
        text-align: center;
        padding-top: 24px;
        border-top: 1px solid #E5E5E5;
    }
}