.header {
    padding: 26px 0;
}
.header__row {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: auto;

    & img {
        display: block;
    }
}
.header__nav {
    display: none;
}
.header__menu--sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(255px);
    transition: transform .2s ease-in-out;
    padding: 100px 40px 0;
    background-color: var(--zima-blue);
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .4);
    z-index: 1;

    & .header__nav--link {
        color: var(--white);

        & + * {
            margin-top: 20px;
        }
    }
}
.header__nav--active {
    transform: translateX(0);
}
.header__nav--link {
    color: var(--title-color);
    text-decoration: none;
}
.header__action--btn-more {
    display: none;
}
.header__action--select {
    width: 48px;
    font-size: 14px;
    font-weight: 700;
    color: var(--zima-blue);
    margin-right: 10px;
}
.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 38px;
    position: relative;
    background-color: var(--zima-blue);
    border-radius: 8px;
    padding: 10px 6px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .2);
    z-index: 1;

    & span {
        width: 100%;
        height: 3px;
        background-color: var(--white);
        border-radius: 5px;
    }
}
.header__menu--close {

    & span:nth-child(1) {
        position: relative;
        transform: rotate(45deg);
        top: 8px;
    }
    & span:nth-child(2) {
        display: none;
    }
    & span:nth-child(3) {
        position: relative;
        bottom: 6px;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 768px) {
    .header__logo {
        margin: 0;
        transition: opacity ease-in-out .2s;

        &:hover {
            opacity: .7;
        }
        &:active {
            opacity: 1;
        }
    }
    .header__menu {
        display: none;
    }
    .header__action {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    .header__action--btn-more {
        display: flex;
        overflow: hidden;
    }
    .header__action--select {
        width: 50px;
        height: 48px;
        margin: 0;
    }
    .header__menu--sidebar {
        display: none;
    }
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 320px;
        width: 100%;
        margin-left: auto;
        margin-right: 40px;
    }
    .header__nav--link:not(.header__nav--link-active) {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        position: relative;
        padding-bottom: 4px;
        letter-spacing: 0.35px;
        
        &:hover {
            font-weight: 700;
            letter-spacing: 0;
        }
        &:active {
            opacity: .7;
        }
        &:nth-child(2) {
            letter-spacing: 0.33px;
        }
        &:hover::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: var(--zima-blue);
        }
    }
    .header__nav--link-active {
        font-weight: 700;
        position: relative;
        padding-bottom: 8px;
        letter-spacing: 0.35px;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: var(--zima-blue);
        }
    }
}
@media screen and (min-width: 1024px) {
    .header__nav {
        margin-right: 80px;
        max-width: 360px;
    }
}
@media screen and (min-width: 1200px) {
    .header__nav {
        margin-right: 180px;
        max-width: 400px;
    }
    
}