.header {
    padding: 26px 0;
}
.header__row {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: auto;

    & img {
        display: block;
    }
}
.header__nav {
    display: none;
}
.header__menu--sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(255px);
    transition: transform .2s ease-in-out;
    padding: 100px 40px 0;
    background-color: var(--zima-blue);
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .4);
    z-index: 1;

    & .header__nav--link {
        color: var(--white);

        & + * {
            margin-top: 20px;
        }
    }
}
.header__nav--active {
    transform: translateX(0);
}
.header__nav--link {
    color: var(--title-color);
    text-decoration: none;
}
.header__action--btn-more {
    display: none;
}
.header__action--select {
    width: 48px;
    font-size: 14px;
    font-weight: 700;
    color: var(--zima-blue);
    margin-right: 10px;
}
.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 38px;
    position: relative;
    background-color: var(--zima-blue);
    border-radius: 8px;
    padding: 10px 6px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .2);
    z-index: 1;

    & span {
        width: 100%;
        height: 3px;
        background-color: var(--white);
        border-radius: 5px;
    }
}
.header__menu--close {

    & span:nth-child(1) {
        position: relative;
        transform: rotate(45deg);
        top: 8px;
    }
    & span:nth-child(2) {
        display: none;
    }
    & span:nth-child(3) {
        position: relative;
        bottom: 6px;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__action {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    .header__action--btn-more {
        display: flex;
    }
    .header__action--select {
        width: 50px;
        height: 48px;
        margin: 0;
    }
    .header__nav .header__menu--sidebar{
        display: block;
        background-color: lightblue;
    }
}