.hero {
    padding: 120px 0 40px;
}
.hero__content {
    max-width: 460px;
}
.hero__content--title {
    font-size: 44px;
    font-weight: 900;
    line-height: 50.4px;
    margin-bottom: 14px;
}
.hero__content--desc {
    font-size: 18px;
    line-height: 23.6px;
    margin-bottom: 40px;
}
.hero__content-btns {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.hero__btns--btn-buy,
.hero__btns--btn-download {
    max-width: 360px;
    width: 100%;
}
.hero__btns--btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--zima-blue);
    transition: background-color .2s ease-in-out;
}
.hero__bg-image {
    display: none;
}
@media screen and (min-width: 590px) {
    .hero {
        padding: 116px 0 80px;
        background-size: 564px 515px;
        background-position: 221px -59px;
    }
    .hero__content-btns {
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
    }
    .hero__btns--btn-buy {
        width: 100px;
    }
    .hero__btns--btn-download {
        width: 170px;
        height: 48px;
        background-image: url('/images/hero/arrow.svg');
        background-repeat: no-repeat;
        background-position: 128px 13px;
        padding-right: 23px;

        &:hover {
            background-color: var(--zima-blue);
            color: var(--white);
            background-image: url('/images/hero/arrow-white.svg');
        }
    }
}
@media screen and (min-width: 768px) {
    .hero {
        padding: 124px 0 60px;
    }
    .hero__content {
        max-width: 500px;
    }
    .hero__content--title {
        font-size: 54px;
        line-height: 60.4px;
        margin-bottom: 24px;
    }
    .hero__content--desc {
        font-size: 20px;
        line-height: 28.6px;
        margin-bottom: 52px;
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        padding: 243px 0 195px;
    }
    .hero__row {
        position: relative;
        z-index: 1;
    }
    .hero__content {
        max-width: 606px;
    }
    .hero__content--title {
        max-width: 606px;
        font-size: 64px;
        line-height: 70.4px;
    }
    .hero__content--desc {
        font-size: 24px;
        line-height: 33.6px;
        margin-bottom: 62px;
    }
    .hero__bg-image {
        display: block;
        position: absolute;
        top: -60px;
        right: -15px;
        z-index: -1;
        border-radius: 10px;
    }
}