.ourself {
    padding: 60px 0 40px;
}
.ourself__row {
}
.ourself__content {
    margin-bottom: 20px;
}
.ourself__content--subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 4px;
}
.ourself__content--title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 18px;
}
.ourself__content--desc {
    font-size: 18px;
    line-height: 23.6px;
    margin-bottom: 12px;
}
.ourself__content--link-more {
    font-size: 18px;
    line-height: 33.6px;
}
.ourself__swiper {
}
.ourself__wrapper {
}
.ourself__slide {
}
.ourself__slide--inner {
    margin-bottom: 20px;
}
.ourself__slide--image {
    max-width: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 16px;
    box-shadow: 0 10px 15px 2px rgba(44, 88, 241, 0.2);
    margin-bottom: 20px;
}
.ourself__inner--subtitle {
    font-size: 16px;
    line-height: 22.4px;
    padding: 8px 18px;
    position: relative;
    border-radius: 40px;
    background-color: rgb(242, 245, 255);
    margin-right: 36px;

    &::after {
        display: flex;
        content: '';
        width:  5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        border-radius: 50px;
        opacity: .5;
        background-color: var(--zima-blue);
    }
}
.ourself__inner--date {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    opacity: .6;
}
.ourself__slide--content {
    margin-bottom: 20px;
}
.ourself__slide--title {
    font-size: 28px;
    margin-bottom: 10px;
}
.ourself__slide--desc {
    font-size: 18px;
    line-height: 23.6px;
}
.ourself__slide--author {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: repeat(2, 25px);
    column-gap: 10px;
    align-items: center;
}
.ourself__author--image {
    grid-row: 1 / 3;
}
.ourself__author--name {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.4px;
    color: var(--title-color);
}
.ourself__author--position {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.4px;
    color: #b3b3b3;
    align-self: flex-start;
}