*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    font-size: 14px;
}
.container {
    max-width: 1262px;
    padding: 0 15px;
    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6;
    color: var(--white);
    border-radius: 8px;
    background-color: var(--zima-blue);
    text-decoration: none;
    transition: opacity ease-in-out .2s;

    &:hover {
        opacity: .7;
    }
    &:active {
        opacity: 1;
    }
}
.btn2 {
    height: 38px;
    width: 38px;
    border: 2px solid var(--zima-blue);
    border-radius: 8px;
}