:root {
    // font-family
    --main-font: 'Inter', sans-serif;

    // colors
    --zima-blue: #2C58F1;
    --zima-blue-light: #F1F4FF;
    --text-color: #666666;
    --title-color: #262626;
    --white: #ffffff;
    --input-color: #B3B3B3;
}